LVA_IMAGE="ghcr.io/ohf-voice/linux-voice-assistant"
LVA_IMAGE_TAG="1.1.13"
LVA_USER_ID="1000"
LVA_USER_GROUP="1000"
LVA_PULSE_SERVER="/run/user/1000/pulse/native"
LVA_XDG_RUNTIME_DIR="/run/user/1000"
LVA_PULSE_COOKIE="/run/user/1000/pulse/cookie"

CLIENT_NAME="echofree"
HOST="0.0.0.0"
PORT="6053"
NETWORK_INTERFACE=""

# Leave blank for automatic detection.
AUDIO_INPUT_DEVICE=""
AUDIO_OUTPUT_DEVICE=""

WAKE_MODEL="okay_nabu"
MIC_VOLUME="100"
MIC_AUTO_GAIN="0"
MIC_NOISE_SUPPRESSION="0"
